html,
body {
  height: 100%;
  margin: 0;
  background-color:#fff;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
  /* Pushes the footer to the bottom when content is insufficient */
}

footer {
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
}