:root {
    --primary-color: #1a73e8;
    --secondary-color: #34a853;
    --background-color: #ffffff;
    --text-color: #202124;
    --accent-color: #fbbc05;
    --error-color: #d93025;
    --hover-color: rgba(0, 0, 0, 0.1);

}


.carousel-banner {
    position: relative;
    width: 100%;
    height: 250px;
    
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    
}

.carousel-slide {
    position: relative;
    width: 100%;
    height: 100%;
}

.carousel-image {
     width:100%; 
        height: 220px;
        object-fit: cover; 
        object-position: center; 
        border-radius: 5px;
}

.carousel-text {
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
    color: white;
    z-index: 1;
    text-align: left;
}

.carousel-text h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.carousel-text p {
    font-size: 1.2rem;
    max-width: 60%;
}

/* Products Section */
.home-products {
    margin-top: 10px;
}

.home-products h2 {
    font-size: 1rem;
    margin-bottom: 20px;
    color: var(--text-color);
    margin: 5px;

}

.products-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;
    justify-items: center;
}

/* Skeleton Loading */
.skeleton-container {
    padding: 20px;
}

.skeleton-container h2 {
    margin-bottom: 20px;
}

.products-skeleton {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.skeleton-card {
    background-color: var(--background-color);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

/* Responsive Design */
@media (max-width: 768px) {
    .banner {
        height: 250px;
    }

    .banner-text h1 {
        font-size: 2rem;
    }

    .banner-text p {
        font-size: 1rem;
    }

    .products-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
    }
}

@media (max-width: 480px) {
    .home-container h1 {
        margin: 2px;
        font-size: 1rem;   
    }
        .home-container p{
            font-size: 0.9rem; 
        }
    .banner {
        height: 200px;
    }

    .banner-text h1 {
        font-size: 1.5rem;
    }

    .banner-text p {
        font-size: 0.9rem;
    }
     .home-products h2 {
            font-size:11px ; 
          }
    .skeleton-card {
        padding: 10px;
    }
        .carousel-banner {
            width: 100%;
            height: 120px;
            
        }
                .carousel-image{
                    height: 150px;
                }
}