.card {
    width: 250px;
    position: relative;
    background: #fff; 
    backdrop-filter: blur(10px);          
    -webkit-backdrop-filter: blur(10px);  
    margin: 10px auto;
    padding: 20px;
    transition: all 0.3s;
    display: flex;
    flex-direction: column;
    border: 0.2px solid rgba(255, 255, 255, 0.4); 
    border-radius: 0.5rem;
    box-shadow: 0 8px 32px rgba(149, 154, 172, 0.2);
    text-align: center; 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.product-details {
  background-color: whitesmoke;
  padding: 20px;
  width: 50%;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 10px;

}
.card:hover {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #727272;
  padding: 10px 0;
}

.heart:hover {
  fill: red;
}

.photo {
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}

.photo img {
  max-height: 240px;
  width: auto;
}

.description {
  padding: 10px;
  border-top: 2px solid #efefef;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  
}

h2 {
  font-size: large;
  text-transform: uppercase;
  font-weight: 500;
  color: #515151;
  margin: 0 0 10px 0;

}

h4,
p {
  font-size: medium;
  color: #727272;
  margin: 0;
}

h1 {
  font-size: 22px;
  color: #515151;
  margin: 10px 0;
}

button {
  outline: none;
   border-radius: 1rem; 
 border: 1px solid #d9d9d9; 
  background: none;
  padding: 4px 10px;
  color: #515151;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-right: 10px;
  margin-top: 5px;
  background-color: rgb(212, 183, 17);
}

button:hover {
  border-color: #aedaa6;
  color: #aedaa6;
}

.cardLink {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
 
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
 
}
@media (max-width: 768px) {
  .products-container {
    grid-template-columns: repeat(2, 1fr);
   
  }
}


@media (max-width: 480px) {
  .products-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
  }
  .product-details {
    background-color: whitesmoke;
    width: 80%;
  }
  .card {
    width: 170px;
    
    position: relative;
    background: whitesmoke;
    margin: 5px auto;
   
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
      0 2px 10px 0 rgba(0, 0, 0, 0.12);
    transition: all 0.3s;
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    padding:5px;
  }

  .photo img {
    max-height: 150px;
  }

  h2 {
    font-size: medium;
  }

  button {
    padding: 5px 10px;
    font-size: 0.9rem;
    width: 100%;
  }
}
